
.search_filter_section_desktop{
display: flex;
justify-content: center;
align-items: center;
gap: 1rem;
height: 50px;
padding: 10px;
border-bottom: 1px solid black;
}

.releases_list_section_desktop{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   margin: 2rem 0;
}