.release_card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  cursor: pointer;
}

.cover_release_card {
  width: 100%;
  height: auto;
}

.artist_release_card{

}

.title_release_card{
    font-weight: bold;
}

.label_release_card{

}

.discInfos_release_card{

}
