.search_filter_section_releases_artist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 50px;
  padding: 10px 1rem;
  border-bottom: 1px solid black;
}

.filter_btn_releases_artists {
  display: flex;
  gap: 1rem;
}

.releases_list_section_releases_artist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 2rem 0;
}
